@model IEnumerable<Bangazon.Models.Product>
<!--because there are a number of items we need the IEnumerable-->
@{
    ViewData["Title"] = "Product Listing";
}

<h2>@ViewData["Title"]</h2>

@foreach (var product in Model)
{
    <div class="row top-buffer">
        <div class="col-md-6">@Html.DisplayFor(modelItem => item.Description)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.Price)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.DateCreated)</div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-route-id="@item.ProductId">Details</a>
        </div>
        <!--use modelItem here because there are mulitple ites -->

    </div>
}